.config-form-card {
  width: 100%;
  padding: 16px;
}

.tech-header {
  margin-bottom: 32px;
}

.config-form {
  display: flex;
  flex-direction: column;
}

.entity {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 16px 0 16px 0;
}

.input-form {
  width: 50%;
}

.inline-btn {
  width: max-content;
}

.prop-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.m-top-btn {
  margin-bottom: 32px;
}

.tech-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin-left: 8px;
    height: 20px;
  }
}
