<mat-card class="config-form-card">
  <mat-card-header class="tech-header">
    <mat-card-title>Technologies</mat-card-title>
  </mat-card-header>
  <form *ngIf="configForm !== undefined" [formGroup]="configForm" class="config-form">
    <mat-form-field class="input-form">
      <mat-select
        placeholder="Frontend"
        formControlName="frontendTech">
        <mat-option *ngFor="let frontTech of frontendTechArray" [value]="frontTech.name">
          <div class="tech-row">
            <span>{{ frontTech.name }}</span>
            <img [src]="frontTech.imgUrl">
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-form">
      <mat-select
        placeholder="Backend"
        formControlName="backendTech">
        <mat-option *ngFor="let backendTech of backendTechArray" [value]="backendTech.name">
          <div class="tech-row">
            <span>{{ backendTech.name }}</span>
            <img [src]="backendTech.imgUrl">
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-card-header class="tech-header">
      <mat-card-title>Entities</mat-card-title>
    </mat-card-header>
    <button mat-raised-button color="primary" (click)="addEntity()" class="inline-btn m-top-btn">Add entity</button>
    <mat-tab-group formArrayName="entities" animationDuration="0ms">
      <mat-tab *ngFor="let entity of entityForms.controls; let entityIndex = index" [label]="getNameForEntity(entityIndex)">
        <div [formGroupName]="entityIndex" class="entity">
          <mat-form-field class="input-form">
            <input
              matInput
              placeholder="Name"
              formControlName="name">
              <button *ngIf="getNameForEntity(entityIndex)" matSuffix mat-icon-button aria-label="Clear" (click)="clearEntityName(entityIndex)">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
          <div formArrayName="props">
            <div *ngFor="let prop of getPropsForEntity(entityIndex).controls; let propIndex = index">
              <div [formGroupName]="propIndex" class="prop-group">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Key"
                    formControlName="key">
                </mat-form-field>
                <mat-form-field>
                  <mat-select
                    placeholder="Data type"
                    formControlName="dataType">
                      <mat-option *ngFor="let dataType of dataTypeArray" [value]="dataType.name">
                        {{ dataType.name }}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="nullable">Nullable</mat-checkbox>
                <button mat-raised-button color="warn" (click)="removePropFromEntity(entityIndex, propIndex)" class="inline-btn">Remove prop</button>
              </div>
            </div>
          </div>
          <button mat-raised-button color="primary" (click)="addNewPropToEntity(entityIndex)" class="inline-btn">Add prop</button>
          <button mat-raised-button color="warn" (click)="removeEntity(entityIndex)" style="margin-top: 16px;" class="inline-btn">Remove entity</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-card>
